main {
    text-align: center;
    padding: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: 2px solid #000000;
    cursor: pointer;
  }

  #counter {
    font-size: 50px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-top:2px solid black;
    height:135px ;
    width: 240px;
    text-align:center;
    align-items: center;
    position: relative;
    left: 430px;
    padding-top: 60px;
  }
.fas
{
    font-size: 40px;
    padding:12px 12px;
    position: relative;
}
.buttons
{
    position: relative;
    bottom: 20px;
    right: 09px;
}
#increment
{
    background: green;
    border: none;
}
#reset
{
    background: orange;
    border: none;
    color: #000;
    margin-right: -5px;
    margin-left: -5px;
}
#decrement
{
    background: rgb(230, 6, 6);
    border: none;
}